.text-center
  button.btn.btn-info.btn-raised data-target="#selectFromPastMokumokuModal" data-toggle="modal" type="button" style=("z-index: 0;")
    = fa_icon 'copy', class: 'pr-2'
    | 過去のもくもくから入力内容をコピー
