.container
  .row
    - if current_user.blank?
      = link_to 'ログイン', login_path, class: 'nav-link login-button'
  .row
    .col-md-12
      | Top
  .row
    .col-12
      .row
        = render partial: 'shared/mokumokus/mokumoku', collection: @mokumokus
