<div class="container">
  <div class="row">
    <% if current_user.blank? %>
      <%= link_to 'ログイン', login_path, class: 'nav-link login-button' %>
    <% end %>
  </div>

  <div class="row">
    <div class="col-md-12">
      Top
    </div>
  </div>
</div>
