= link_to '', sns_share_url_with_message(message, sub_url), class: "twitter-share-button", data: { size: 'large', show_count: "false" }
= javascript_include_tag 'https://platform.twitter.com/widgets.js'
