= link_to root_path do
  = render 'shared/users/avatar', user: notification.notified_by, size: '30x30'
  = notification.notified_by.name
| が
= link_to 'あなたのもくもく', mypage_link_through_path(notification)
| にいいねしました。
p.text-right = notification.created_at.to_s(:datetime)
