= link_to 'やっぱり欠席するm(_ _)m', mokumoku_attend_path(mokumoku), class: 'btn btn-primary btn-raised btn-lg btn-attend', method: :delete

= render 'shared/share_button',
         message: mokumoku.share_message,
         sub_url: mokumoku.page_url
