meta property="og:title" content="#{Settings.common.app.name}"
meta property="og:type" content="website"
meta property="og:url" content="#{Settings.common.app.url}"
meta property="og:image" content="#{asset_url 'sample.jpg'}"
meta property="og:site_name" content="#{Settings.common.app.url}"
meta property="og:description" content="#{Settings.common.app.description}"
meta name="twitter:card" content="summary_large_image"
meta name="twitter:site" content="@#{Settings.twitter.account_name}"
