meta name="viewport" content="width=device-width,initial-scale=1.0"
meta property="og:title" content="#{Settings.common.app.og.title}"
meta property="og:type" content="#{Settings.common.app.og.type}"
meta property="og:url" content="#{Settings.common.app.og.url}"
meta property="og:image" content="#{asset_url Settings.common.app.og.image}"
meta property="og:site_name" content="#{Settings.common.app.og.site_name}"
meta property="og:description" content="#{Settings.common.app.og.description}"
meta property="og:format-detection" content="telephone=no,address=no,email=no"
meta name="twitter:card" content="#{Settings.twitter.card}"
meta name="twitter:site" content="@#{Settings.twitter.account_name}"
meta name="twitter:creator" content="@#{Settings.twitter.account_name}"
= display_meta_tags default_meta_tags
